<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mappls.sdk.demo" >

    <application
        android:name=".MapApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VectorMapComposeSample" >

        <activity
            android:name=".sample.activities.mapEvent.MapClickActivity"
            android:exported="false"
            android:label="@string/title_activity_map_click"
            android:theme="@style/Theme.VectorMapComposeSample" />
        <activity
            android:name=".sample.activities.polines.AddPolylineActivity"
            android:exported="false"
            android:label="@string/title_activity_add_polyline"
            android:theme="@style/Theme.VectorMapComposeSample" />
        <activity
            android:name=".sample.activities.polines.GradientPolylineActivity"
            android:exported="false"
            android:label="@string/title_activity_add_gradiant_polyline"
            android:theme="@style/Theme.VectorMapComposeSample" />
        <activity
            android:name=".sample.activities.polines.SemiCirclePolylineActivity"
            android:exported="false"
            android:label="@string/title_activity_add_semiCircle_polyline"
            android:theme="@style/Theme.VectorMapComposeSample" />
        <activity
            android:name=".sample.activities.polines.SnakeMotionPolylineActivity"
            android:exported="false"
            android:label="@string/title_activity_add_snakeMotion_polyline"
            android:theme="@style/Theme.VectorMapComposeSample" />
        <activity
            android:name=".sample.activities.polines.PolygonActivity"
            android:exported="false"
            android:label="@string/title_activity_add_polygon"
            android:theme="@style/Theme.VectorMapComposeSample" />
        <activity
            android:name=".sample.activities.marker.AddMarkerActivity"
            android:exported="false"
            android:label="@string/title_activity_add_marker"
            android:theme="@style/Theme.VectorMapComposeSample" />
        <activity
            android:name=".sample.activities.mapEvent.MapActivity"
            android:exported="false"
            android:label="@string/title_activity_map"
            android:theme="@style/Theme.VectorMapComposeSample" />

        <activity
            android:name=".sample.activities.maplayer.HeatmapActivity"
            android:exported="false"
            android:label="@string/title_activity_heatmap"
            android:theme="@style/Theme.VectorMapComposeSample" />
        <activity
            android:name=".sample.activities.maplayer.IndoorActivity"
            android:exported="false"
            android:label="@string/title_activity_indoor"
            android:theme="@style/Theme.VectorMapComposeSample" />
        <activity
            android:name=".sample.activities.maplayer.ScalebarActivity"
            android:exported="false"
            android:label="@string/title_activity_scalebar"
            android:theme="@style/Theme.VectorMapComposeSample" />

        <activity
            android:name=".sample.activities.camera.CameraFeaturesActivity"
            android:exported="false"
            android:label="@string/title_activity_cameraFeatures"
            android:theme="@style/Theme.VectorMapComposeSample" />
        <activity
            android:name=".sample.activities.camera.LocationCameraOptionActivity"
            android:exported="false"
            android:label="@string/title_activity_location_camera_option"
            android:theme="@style/Theme.VectorMapComposeSample" />
        <activity
            android:name=".sample.activities.camera.MapplePinCameraFeatureActivity"
            android:exported="false"
            android:label="@string/title_activity_mapple_pin_camera_feature"
            android:theme="@style/Theme.VectorMapComposeSample" />


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.VectorMapComposeSample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>